body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

nav ul {
    list-style: none;
    background-color: white;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-left: auto;
    display: flex;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: black;
    padding: 1px 20px;
    display: inline-block;
}

nav ul li.active a {
    color: #0275D8;
}

nav h2 {
    background: linear-gradient(#60B95A, #74BD51, #87C14B);
    color: white;
    padding: 10px;
    margin-left: 5px;
    margin-top: 1px;
    margin-bottom: 1px;
    border-radius: 8px;
}

.breadcrumb {
    background-color: #F5F5F5;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.breadcrumb a {
    text-decoration: none;
    color: #337AB7;
}

.breadcrumb a:nth-of-type(2) {
    color: #9E9E9E;
}

.breadcrumb p {
    color: #337AB7;
}

.add-friend {
    background: white;
    padding: 20px;
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="email"], button {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 95%;
}

button {
    background-color: #519839;
    color: white;
    border: none;
    cursor: pointer;
    width: 10%;
}

button:hover {
    background-color: #5058e5;
}
