body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

nav ul {
    list-style: none;
    background-color: white;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-left: auto;
    display: flex;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: black;
    padding: 1px 20px;
    display: inline-block;
}

nav ul li.active a {
    color: #0275D8;
}

nav h2 {
    background: linear-gradient(#60B95A, #74BD51, #87C14B);
    color: white;
    padding: 10px;
    margin-left: 5px;
    margin-top: 1px;
    margin-bottom: 1px;
    border-radius: 8px;
}

.breadcrumb {
    background-color: #f4f4f4;
    padding: 15px;
}

.breadcrumb a {
    text-decoration: none;
    color: #0275D8;
}

.form-group {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="number"], select, button {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #519839;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #5058e5;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

.pagination {
    padding: 10px 0;
    text-align: center;
}

.pagination a {
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ccc;
    color: #333;
}

.pagination a:hover {
    background-color: #ddd;
}
