<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/index.css}" />
</head>
<body>
<!-- Barre de navigation -->
<nav>
    <ul>
        <li><a th:href="@{/home}">Home</a></li>
        <li><a th:href="@{/transfer}">Transfer</a></li>
        <li><a th:href="@{/profile}">Profile</a></li>
        <li><a th:href="@{/contact}">Contact</a></li>
        <li><a th:href="@{/logout}">Log off</a></li>
    </ul>
</nav>

<!-- Barre d'arborescence -->
<div class="breadcrumb">
    <a th:href="@{/home}">Home</a>
</div>

<!-- Div avec les informations utilisateur -->
<div class="user-info">
    <h2>User infos</h2>
    <p>Lastname : <span th:text="${user.lastName}">Lastname</span></p>
    <p>Firstname : <span th:text="${user.firstName}">Firstname</span></p>
    <p>Funds : <span th:text="${user.balance}">0</span> €</p>
</div>
</body>
</html>
