<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Transfer</title>
    <link rel="stylesheet" th:href="@{/css/transfer.css}" />
</head>
<body>
<!-- Barre de navigation -->
<nav>
    <h2>Pay My Buddy</h2>
    <ul>
        <li><a th:href="@{/home}">Home</a></li>
        <li><a th:href="@{/transfer}">Transfer</a></li>
        <li><a th:href="@{/profile}">Profile</a></li>
        <li><a th:href="@{/contact}">Contact</a></li>
        <li><a th:href="@{/logout}">Log off</a></li>
    </ul>
</nav>

<!-- Barre d'arborescence -->
<div class="breadcrumb">
    <a th:href="@{/home}">Home</a>
    <p>/</p>
    <a th:href="@{/transfer}">Transfer</a>
</div>

<!-- Section Envoyer de l'argent -->
<div class="send-money">
    <div class="title">
        <h2>Send Money</h2>
        <a th:href="@{/contact}">Add connection</a>
    </div>
    <form th:action="@{/pay}" method="post">
        <div class="form-group">
            <select id="recipient" name="recipient" required>
                <option value="" disabled selected>Select a Connection</option>
                <option th:each="connection, connStat : ${connections}"
                        th:value="${connStat.index}"
                        th:text="${connection}">
                </option>
            </select>
        </div>
        <div class="form-group">
            <input type="number" id="amount" name="amount" required min="0" placeholder="0€">
        </div>
        <button type="submit">Pay</button>
    </form>
</div>

<!-- Section Mes Transactions -->
<div class="my-transactions">
    <h2>My Transactions</h2>
    <table>
        <tr>
            <td>Connections</td>
            <td>Description</td>
            <td>Amount</td>
        </tr>
        <tr th:each="transaction : ${transactionsPage.content}">
            <td th:text="${transaction.recipient.firstName}"></td>
            <td th:text="${transaction.description}"></td>
            <td th:text="${transaction.amount}"></td>
        </tr>
    </table>

    <div class="pagination">
        <!-- Lien "Previous" -->
        <a th:if="${transactionsPage.hasPrevious()}"
           th:href="@{/transfer(page=${transactionsPage.number - 1}, size=${transactionsPage.size})}">&lt;&lt;</a>

        <!-- Liste des pages numérotées -->
        <span th:each="pageNum : ${#numbers.sequence(1, transactionsPage.totalPages)}">
            <a th:if="${pageNum != transactionsPage.number + 1}"
               th:href="@{/transfer(page=${pageNum - 1}, size=${transactionsPage.size})}"
               th:text="${pageNum}"></a>
            <a th:if="${pageNum == transactionsPage.number + 1}"
                  th:text="${pageNum}"></a>
        </span>

        <!-- Lien "Next" -->
        <a th:if="${transactionsPage.hasNext()}"
           th:href="@{/transfer(page=${transactionsPage.number + 1}, size=${transactionsPage.size})}">&gt;&gt;</a>
    </div>
</div>
</body>
</html>
